@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
@import "/style/nav.css";
@import "/style/container.css";
@import "/style/button.css";
@import "/style/header.css";
@import "/style/main.css";
@import "/style/boost.css";
@import "/style/footer.css";

:root {
  /* COLORS */
  /* primary */
  --cyan: rgba(42, 207, 207, 1);
  --dark-violet: hsl(257, 27%, 26%);
  /* seconday */
  --red: hsl(0, 87%, 67%);
  /* neutral */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  /* FONT-SIZE */
  font-size: 18px;

  /* SHADOW */
  --light-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  --medium-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  overflow-x: hidden;
  cursor: default;
}

h1,
h2,
h3,
h4 {
  color: #222;
  margin: 0;
}

input:focus {
  outline: none;
}

ul {
  margin: 0;
  list-style-type: none;
  color: var(--Grayish-Violet);
}

li {
  cursor: pointer;
}

p {
  color: var(--Grayish-Violet);
}
